/* Needed for bypassing FL's specificity nightmares */
/*csslint adjoining-classes:false*/

.storylet_favourite.storylet_favourite.storylet_favourite {
  border-color: lime;
}

.storylet_avoid.storylet_avoid.storylet_avoid {
  border-color: red;
}

.fave_toggle_button.fave_toggle_button {
  float: right;
  margin-left: -10px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
}

.storylet_anchor {
  display: none;
}

.hand__card-container.hand__card-container {
  position: relative;
}

.card__discard-button.card__discard-button {
  width: 80%;
  padding: 8px 13px;
}

.card_toggle_button.card_toggle_button {
  height: 16px;
  width: 16px;
  position: absolute;
  bottom: 7px;
  left: 88px;
}

button.card_discard.card_discard, button.card_discard.card_discard:hover {
  border-color: lime;
}

button.card_protect.card_protect, button.card_protect.card_protect:hover {
  border-color: red;
}
