p { 
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: small;
  white-space: nowrap;
}

label[title] {
  cursor: help;
}

.header { 
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: small;
  font-size: larger;
  font-weight: bold;
}

.item {
  margin: 0 0 0 10px;
}

.changelogHideLink {
  display: none;
}

.container {
  display: none;
  width: 600px;
}

.container .changelog {
  white-space: pre-wrap;
  border: solid 1px black;
  padding: 10px;
  max-height: 600px;
  overflow-y: auto;
}

.extlink:after {
  content: url(/img/Icon_External_Link.svg);
  margin-left: 0.2em;
}

input[type=radio] {
  vertical-align: top;
}
